# Node
node_modules/
my-app/node_modules/

# Build artifacts
/build
/dist

# Production
.env

# Logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store

# Editor
.vscode/
.idea/

# lockfiles (keep if you prefer to track)
# package-lock.json
